.parallax-block {
    height: 1700px;
    position: relative;
    .images-container {
        width: 1px;
        height: 100%;
        position: absolute;
        left: calc(50vw - 1450px / 2);
        transform: translateX(-50%);
        .parallax-image {
            transition: all 0.3s;
            border-radius: 65%;
            &:hover {
                scale: 1.1;
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
            }
        }
        &_first {
            .parallax-image {
                &:nth-child(1) {
                    top: 40px;
                    left: 80px;
                }
                &:nth-child(2) {
                    top: 120px;
                    left: 660px;
                }
                &:nth-child(3) {
                    top: 400px;
                    left: 220px;
                }
                &:nth-child(4) {
                    top: 620px;
                    left: 610px;
                }
                &:nth-child(5) {
                    top: 620px;
                    left: 950px;
                }
            }
        }
        &_second {
            .parallax-image {
                &:nth-child(1) {
                    top: 540px;
                    left: 0px;
                }

                &:nth-child(2) {
                    top: 70px;
                    left: 270px;
                }

                &:nth-child(3) {
                    top: 370px;
                    left: 750px;
                }
                &:nth-child(4) {
                    top: 60px;
                    left: 1230px;
                }
            }
        }
        &_third {
            .parallax-image {
                &:nth-child(1) {
                    top: 280px;
                    left: 40px;
                }
                &:nth-child(2) {
                    top: 570px;
                    left: 360px;
                }
                &:nth-child(3) {
                    top: 350px;
                    left: 510px;
                }
                &:nth-child(4) {
                    top: 120px;
                    left: 910px;
                }
                &:nth-child(5) {
                    top: 300px;
                    left: 1150px;
                }
                &:nth-child(6) {
                    top: 600px;
                    left: 1230px;
                }
            }
        }
        &_fourth {
            top: 910px;
            .parallax-image {
                &:nth-child(1) {
                    top: 0px;
                    left: 190px;
                }
                &:nth-child(2) {
                    top: 10px;
                    left: 950px;
                }
                &:nth-child(3) {
                    top: 400px;
                    left: 0px;
                }
                &:nth-child(4) {
                    top: 450px;
                    left: 950px;
                }
                &:nth-child(5) {
                    top: 300px;
                    left: 1150px;
                }
                &:nth-child(6) {
                    top: 650px;
                    left: 70px;
                }
                &:nth-child(7) {
                    top: 600px;
                    left: 1200px;
                }
            }
        }
    }
}
.parallax-image {
    position: absolute;
}
.image {
    &_small {
        width: 90px;
        height: 90px;
    }
    &_medium {
        width: 115px;
        height: 115px;
    }
    &_large {
        width: 150px;
        height: 150px;
    }
    &_xl {
        width: 200px;
        height: 200px;
    }
}
