.parallax-block {
    height: 1900px;
    width: 100vw;
    position: relative;
    .images-container-header,
    .images-container-body {
        width: 1450px;
        height: 900px;
        position: absolute;
        left: 50%;
        top: 0%;
        transform: translateX(-50%);
    }
    .images-container-body {
        top: 900px;
    }
    .images-container {
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
        transform: translateX(-50%);
        .parallax-image {
            position: absolute;
            transition: all 0.3s;
            border-radius: 65%;
            &:hover {
                scale: 1.1;
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
            }
        }
        &_text-header,
        &_text-descr {
            position: absolute;

            line-height: 1.2285914286;
            font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica,
                Arial, sans-serif;
            font-weight: 700;
            text-align: center;
        }
        &_text-header {
            height: 150px;
            width: 100%;
            top: 50%;
            display: flex;
            justify-content: center;
            position: sticky;
            font-size: 35px;
            z-index: -10;
            div {
                width: 450px;
            }
        }
        &_text-descr {
            left: 50%;
            width: 450px;
            transform: translateX(-50%);
            height: 150px;
            top: 850px;
            font-size: 20px;
            color: #989898;
            opacity: 0;
            transform: translate(-50%, 30%);
            transition: all 0.8s;
            &_active {
                opacity: 1;
                transform: translate(-50%, 0);
            }
        }
        &_first {
            .parallax-image {
                &:nth-child(1) {
                    top: 40px;
                    left: 80px;
                }
                &:nth-child(2) {
                    top: 120px;
                    left: 660px;
                }
                &:nth-child(3) {
                    top: 400px;
                    left: 220px;
                }
                &:nth-child(4) {
                    top: 620px;
                    left: 610px;
                }
                &:nth-child(5) {
                    top: 620px;
                    left: 950px;
                }
            }
        }
        &_second {
            .parallax-image {
                &:nth-child(1) {
                    top: 540px;
                    left: 0px;
                }

                &:nth-child(2) {
                    top: 70px;
                    left: 270px;
                }

                &:nth-child(3) {
                    top: 370px;
                    left: 750px;
                }
                &:nth-child(4) {
                    top: 60px;
                    left: 1230px;
                }
            }
        }
        &_third {
            .parallax-image {
                &:nth-child(1) {
                    top: 280px;
                    left: 40px;
                }
                &:nth-child(2) {
                    top: 570px;
                    left: 360px;
                }
                &:nth-child(3) {
                    top: 350px;
                    left: 510px;
                }
                &:nth-child(4) {
                    top: 120px;
                    left: 910px;
                }
                &:nth-child(5) {
                    top: 300px;
                    left: 1150px;
                }
                &:nth-child(6) {
                    top: 600px;
                    left: 1280px;
                }
            }
        }
        &_fourth {
            .parallax-image {
                &:nth-child(1) {
                    top: 0px;
                    left: 190px;
                }
                &:nth-child(2) {
                    top: 10px;
                    left: 1070px;
                }
                &:nth-child(3) {
                    top: 400px;
                    left: 0px;
                }
                &:nth-child(4) {
                    top: 450px;
                    left: 1100px;
                }
                &:nth-child(5) {
                    top: 300px;
                    left: 1335px;
                }
                &:nth-child(6) {
                    top: 650px;
                    left: 70px;
                }
            }
        }
        &_fifth {
            .parallax-image {
                &:nth-child(1) {
                    top: 120px;
                    left: 10px;
                }
                &:nth-child(2) {
                    top: 210px;
                    left: 170px;
                }
                &:nth-child(3) {
                    top: 320px;
                    left: 300px;
                }
                &:nth-child(4) {
                    top: 260px;
                    left: 1120px;
                }
                &:nth-child(5) {
                    top: 530px;
                    left: 270px;
                }
                &:nth-child(6) {
                    top: 640px;
                    left: 1140px;
                }
                &:nth-child(7) {
                    top: 500px;
                    left: 1250px;
                }
            }
        }
    }
}

.image {
    &_small {
        width: 90px;
        height: 90px;
    }
    &_medium {
        width: 115px;
        height: 115px;
    }
    &_large {
        width: 150px;
        height: 150px;
    }
    &_xl {
        width: 200px;
        height: 200px;
    }
}
