.parallax-block {
    height: 2450px;
    width: 100%;
    position: relative;

    .images-container-header,
    .images-container-body,
    .images-container-footer {
        width: 1450px;
        height: 900px;
        position: absolute;
        left: 50%;
        top: 0%;
        transform: translateX(-50%);
    }
    .images-container-body {
        top: 900px;
    }
    .images-container-footer {
        top: 1800px;
    }
    .images-container {
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
        transform: translateX(-50%);

        .parallax-image {
            position: relative;
            width: 100%;
            height: 100%;
        }
        .parallax-item {
            position: absolute;
            transition: all 0.3s;
            border-radius: 65%;
            box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.8);
            cursor: pointer;
            a:focus {
                outline: none;
            }
            &_comment {
                width: 100%;
                max-height: 100px;
                padding: 5px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 97%;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                -webkit-line-clamp: 4;
                text-align: center;
                line-height: 21px;
                font-family: SF Pro Text, SF Pro Icons, Helvetica Neue,
                    Helvetica, Arial, sans-serif;
                font-weight: 500;
                font-size: 15px;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                opacity: 0;
                transition: all 0.5s;
                border-radius: 10px;
                cursor: initial;
                pointer-events: none;
            }

            &_title {
                padding: 5px 10px;
                position: absolute;
                top: -15px;
                left: 50%;
                width: 100%;
                opacity: 0;
                transform: translateX(-50%);
                font-weight: 700;
                text-wrap: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-family: SF Pro Text, SF Pro Icons, Helvetica Neue,
                    Helvetica, Arial, sans-serif;
                transition: all 0.3s;
                text-align: center;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                border-radius: 10px;
                cursor: initial;
                pointer-events: none;
            }
            &_active {
                z-index: 100;

                .parallax-item_title {
                    top: -30px;
                    opacity: 1;
                }
                .parallax-item_comment {
                    opacity: 1;
                    top: calc(100% + 5px);
                }
            }
        }
        &_text-header,
        &_text-descr {
            position: absolute;

            line-height: 1.2285914286;
            font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica,
                Arial, sans-serif;
            font-weight: 700;
            text-align: center;
        }
        &_text-header {
            margin-top: 50px;
            height: 150px;
            width: 100%;
            top: 50%;
            display: flex;
            justify-content: center;
            position: sticky;
            font-size: 35px;
            z-index: -10;
            div {
                width: 450px;
            }
        }
        &_text-descr {
            left: 50%;
            width: 450px;
            transform: translateX(-50%);
            height: 250px;
            top: 850px;
            font-size: 20px;
            color: #989898;
            opacity: 0;
            transform: translate(-50%, 30%);
            transition: all 0.4s;
            &_active {
                opacity: 1;
                transform: translate(-50%, 0);
            }
        }
        &_first {
            .parallax-item {
                &:nth-child(1) {
                    top: 40px;
                    left: 80px;
                }
                &:nth-child(2) {
                    top: 120px;
                    left: 660px;
                }
                &:nth-child(3) {
                    top: 400px;
                    left: 220px;
                }
                &:nth-child(4) {
                    top: 620px;
                    left: 610px;
                }
                &:nth-child(5) {
                    top: 620px;
                    left: 950px;
                }
            }
        }
        &_second {
            .parallax-item {
                &:nth-child(1) {
                    top: 540px;
                    left: 0px;
                }

                &:nth-child(2) {
                    top: 70px;
                    left: 270px;
                }

                &:nth-child(3) {
                    top: 370px;
                    left: 750px;
                }
                &:nth-child(4) {
                    top: 60px;
                    left: 1230px;
                }
            }
        }
        &_third {
            .parallax-item {
                &:nth-child(1) {
                    top: 280px;
                    left: 40px;
                }
                &:nth-child(2) {
                    top: 570px;
                    left: 360px;
                }
                &:nth-child(3) {
                    top: 350px;
                    left: 510px;
                }
                &:nth-child(4) {
                    top: 120px;
                    left: 910px;
                }
                &:nth-child(5) {
                    top: 300px;
                    left: 1150px;
                }
                &:nth-child(6) {
                    top: 600px;
                    left: 1280px;
                }
            }
        }
        &_fourth {
            .parallax-item {
                &:nth-child(1) {
                    top: 0px;
                    left: 190px;
                }
                &:nth-child(2) {
                    top: 10px;
                    left: 1070px;
                }
                &:nth-child(3) {
                    top: 400px;
                    left: 0px;
                }
                &:nth-child(4) {
                    top: 480px;
                    left: 1050px;
                }
                &:nth-child(5) {
                    top: 300px;
                    left: 1325px;
                }
                &:nth-child(6) {
                    top: 670px;
                    left: 120px;
                }
            }
        }
        &_fifth {
            .parallax-item {
                &:nth-child(1) {
                    top: 120px;
                    left: 10px;
                }
                &:nth-child(2) {
                    top: 210px;
                    left: 170px;
                }
                &:nth-child(3) {
                    top: 320px;
                    left: 300px;
                }
                &:nth-child(4) {
                    top: 260px;
                    left: 1120px;
                }
                &:nth-child(5) {
                    top: 500px;
                    left: 270px;
                }
                &:nth-child(6) {
                    top: 640px;
                    left: 1075px;
                }
                &:nth-child(7) {
                    top: 500px;
                    left: 1240px;
                }
            }
        }
        &_sixth {
            .parallax-item {
                &:nth-child(1) {
                    top: 190px;
                    left: 85px;
                }
                &:nth-child(2) {
                    top: 240px;
                    left: 450px;
                }
                &:nth-child(3) {
                    top: 165px;
                    left: 1015px;
                }
                &:nth-child(4) {
                    top: 550px;
                    left: 750px;
                }
            }
        }
        &_seventh {
            .parallax-item {
                &:nth-child(1) {
                    top: 50px;
                    left: 330px;
                }
                &:nth-child(2) {
                    top: 170px;
                    left: 740px;
                }
                &:nth-child(3) {
                    top: 40px;
                    left: 1300px;
                }
                &:nth-child(4) {
                    top: 390px;
                    left: 285px;
                }
                &:nth-child(5) {
                    top: 470px;
                    left: 510px;
                }
                &:nth-child(6) {
                    top: 300px;
                    left: 1210px;
                }
            }
        }
        &_eighth {
            .parallax-item {
                &:nth-child(1) {
                    top: 370px;
                    left: 40px;
                }
                &:nth-child(2) {
                    top: 280px;
                    left: 650px;
                }
                &:nth-child(3) {
                    top: 290px;
                    left: 900px;
                }
                &:nth-child(4) {
                    top: 430px;
                    left: 1070px;
                }
                &:nth-child(5) {
                    top: 500px;
                    left: 1270px;
                }
            }
        }
    }
}

.item {
    &_small {
        width: 90px;
        height: 90px;
        // .parallax-item_comment {
        //     height: 90%;
        //     padding-left: 55px;
        //     width: 238px;
        //     top: 5%;

        //     span {
        //         left: 55px;
        //         width: calc(100% - 55px);
        //     }
        // }
    }
    &_medium {
        width: 115px;
        height: 115px;
        // .parallax-item_comment {
        //     height: 80%;
        //     width: 250px;
        //     top: 10%;
        //     padding-left: 65px;
        //     span {
        //         left: 65px;
        //         width: calc(100% - 65px);
        //     }
        // }
    }
    &_large {
        width: 150px;
        height: 150px;
        // .parallax-item_comment {
        //     height: 80%;
        //     width: 265px;
        //     top: 10%;
        //     padding-left: 85px;
        //     span {
        //         left: 85px;
        //         width: calc(100% - 85px);
        //     }
        // }
    }
    &_xl {
        width: 200px;
        height: 200px;
        // .parallax-item_comment {
        //     height: 70%;
        //     width: 288px;
        //     top: 15%;
        //     padding-left: 110px;
        //     span {
        //         left: 110px;
        //         width: calc(100% - 110px);
        //     }
        // }
    }
}
